[Unit]
Description=CoolPi fan controller
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u /opt/coolpi/src/fanctrl.py
WorkingDirectory=/opt/coolpi/
StandardOutput=journal
StandardError=journal
SyslogIdentifier=coolpi
Restart=always
RestartSec=10
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
